figure {
  margin: 40px auto;
  width: 400px;
  animation-name: zmien_szerokosc;
  animation-duration: 6s;
  animation-iteration-count: 1;

}

figure img {
  width: 100%;
  transition: all 1s;
}

@keyframes zmien_szerokosc {
  0% {
    width: 400px;
  }
  40%, 60% {
    width: 650px;
  }
  100$ {
    width: 650px;
  }
}
