div.klient[suma] {
  background-color: greenyellow;
}

div.klient[suma="1140"] {
  background-color: fuchsia;
}

div.klient[detaliczny~="tak"] {
  background-color: darkkhaki;
}
div.klient[detaliczny*="tak"] {
  background-color: blue;
}

div.klient[suma^="22"]{
  background-color: olivedrab;
}

div.klient[suma$40]{
  background-color: plum;
}
